/* .loader{
    background-color: #282c3f;
    height: 300px;

} */
.shimmerUI{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shimmerUI > .shimmerCard{
    width: 220px;
    height: 300px;
    background-color: rgb(221, 236, 250);
    /* background-color: black  ; */
    margin: 20px;

}